.order-success,
.order-error{
    padding: 0;
    padding-bottom: 112px;
    text-align: center;
    margin: auto;
}

.order-success p,
.order-error p{
    padding: 8px;
}
.order-success .success-lottie{
    height: 200px;
}
.order-success a{
    color: var(--secondary-color);
    transition: ease-in-out ;
}

.order-success a:hover{
    font-weight: bold;
}

.order-error a {
    color: rgb(219, 130, 130);
    transition: ease-in-out ;
}
.order-error a:hover{
    font-weight: bold;
}

.order-error .error-lottie{
    height: 200px;
}

/*Carrinho Vazio Animação*/

.empty{
    height: 200px;
}

/*MEUS PEDIDOS*/

.orders .item-container{
    display: grid;
    grid-template-columns: 1fr 80px 150px 100px;
    gap: 24px;
    align-items: center;
    color: #444;
    padding: 16px 0;
    text-align: center;
}

.orders .item-container:hover{
    background-color: #eee;
}

.orders .item{
    display: flex;
}
.orders img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 8px;
    border: 1px solid #fefefe;
    box-shadow: 2px 2px 4px -4px black;
    margin: 0 16px;
}

.orders .item div:nth-child(2){
    display: flex;
    flex-direction: column;
}

.item .title,
.item .price,
.item .updated-at{
    color:#555;
    margin-bottom: 4px;
    text-align: left;
}
.item .updated-at{
    margin-top: auto;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300px;
    font-style: italic;
}

.item .price,
.orders .total{
    font-weight: bold;
}

.orders .status{
    justify-self: center;
    color: white;
    border-radius: 16px;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.orders .status.open{
    background-color: rgb(0, 185, 241);
}

.orders .status.sold{
    background-color: rgb(8, 211, 35);
}

.orders .status.canceled{
    background-color: rgb(214, 35, 35);
}

